---
import Layout from "@layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <div class="container">
    <Content />
  </div>
</Layout>

<style>
  .container {
    max-width: 75ch;
    line-height: 1.8;
    padding: 2rem;
    padding-top: 6rem;
  }

  .container p {
    margin-bottom: 4rem !important;
  }
</style>
