<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="0; url=/blog" />
    <script>
      window.location.replace("/blog");
    </script>
    <title>Redirigiendo...</title>
  </head>
  <body> <noscript> <a href="/blog">Ir al blog</a> </noscript> </body>
</html>
