<section class="about">
  <h2>Sobre mi</h2>
  <p>
    ¡Hola! Soy José Ever Muñoz, desarrollador web Fullstack especializado en
    Javascript.
  </p>
  <p>
    En el frontend, trabajo con frameworks como React, Next.js, Vue.js y Astro,
    creando interfaces dinámicas y responsivas. Para el backend, implemento
    soluciones con Node.js, Express y WebSockets, además de gestionar bases de
    datos SQL.
  </p>
  <p>
    Autodidacta por naturaleza, me adapto rápidamente a nuevas tecnologías según
    las necesidades específicas de cada proyecto. Mi enfoque combina sólidos
    conocimientos técnicos con una pasión por crear soluciones web eficientes y
    elegantes.
  </p>
</section>

<style>
  .about {
    text-align: left;
    padding-top: 32px;
    padding-bottom: 24px;
  }

  @media (min-width: 720px) {
    .about {
      max-width: 668px;
      margin: auto;
      padding-bottom: 48px;
    }
  }
</style>
