---
import SocialBox from "./SocialBox.astro";
import socialLinks from "@icons/SocialIcons.ts";
---

<section id="contacto" class="contact">
  <h2 class="title-2">Conectemos</h2>
  <p class="paragraph text">
    ¿Tienes una idea en mente? Hablemos sobre cómo puedo ayudarte a hacerla
    realidad.
  </p>
  <article class="contact__email">
    <div class="contact__email__content">
      <div class="contact__texts">
        <h3>¿Listo para empezar?</h3>
        <p>
          Envíame un email y conversemos sobre tu próximo proyecto. Respondo en
          menos de 24 horas.
        </p>
        <a href="mailto:jmu3612@gmail.com" class="primary-button">
          Escribir Email
        </a>
      </div>
    </div>
  </article>
  <div class="divider">
    <span class="divider__span">O sigueme en</span>
  </div>
  <h3 class="title-3">Redes sociales</h3>
  <div class="social-links">
    {
      socialLinks.map(({ icon, name, url, description }) => {
        return (
          <SocialBox
            icon={icon}
            name={name}
            description={description}
            url={url}
          />
        );
      })
    }
  </div>
  <p class="paragraph">
    Estoy siempre abierto a discutir nuevas oportunidades, proyectos
    interesantes o simplemente charlar sobre tecnología. No dudes en
    contactarme.
  </p>
</section>

<style>
  .paragraph.text {
    margin-top: 0px;
  }
  .contact {
    padding: 0 2rem;
    border-bottom: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title-3 {
  }
  .contact__email {
    color: var(--text-grey);
    padding: 2rem;
    background-color: var(--bg-dark-box);
    border: 1px solid var(--border);
    max-width: 720px;
  }
  .contact__texts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .divider__span {
    padding: 0 2rem;
  }
  .divider {
    display: flex;
    align-items: center;
    margin: 4rem 0;
  }
  .divider::before,
  .divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background: var(--border);
  }
  .social-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  .text {
    margin-top: 0px;
  }

  @media (min-width: 500px) {
    .title-3 {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1080px) {
    .title-3 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
    .social-links {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .paragraph {
      margin: 4rem auto;
      width: 700px;
    }
  }
</style>
