---

---

<footer>
  <p>© 2025 Jose Ever Muñoz | joseverdev | Todos los derechos reservados</p>
</footer>

<style>
  footer {
    color: var(--text-grey);
    text-align: center;
    bottom: 0;
    margin: auto;
    min-width: 368px;
    max-width: 720px;
    padding: 20px 0;
  }

  footer p {
    margin: 0;
    font-size: 14px;
  }

  @media (min-width: 768px) {
    footer {
      padding-bottom: 24px;
    }
  }
</style>
