---
const isProd = import.meta.env.PROD;
---

<head>

  <!-- Google tag (gtag.js) -->
   {
    isProd &&(
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZVHPS5WXQP"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-ZVHPS5WXQP');
    </script>

    )
   }

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/images/logo.png" />
  <meta name="generator" content={Astro.generator} />
	
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"
    rel="stylesheet"
  />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  


	<!-- HTML Meta Tags -->
<title>Joseverdev Portfolio</title>
<meta name="description" content="Portfolio de desarrollador de joseverdev">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://joseverdev.netlify.app/">
<meta property="og:type" content="website">
<meta property="og:title" content="Joseverdev Portfolio">
<meta property="og:description" content="Portfolio de desarrollador de joseverdev">
<meta property="og:image" content="https://joseverdev.netlify.app/web.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="joseverdev.netlify.app">
<meta property="twitter:url" content="https://joseverdev.netlify.app/">
<meta name="twitter:title" content="Joseverdev Portfolio">
<meta name="twitter:description" content="Portfolio de desarrollador de joseverdev">
<meta name="twitter:image" content="https://joseverdev.netlify.app/web.jpg">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <!-- Primary Meta Tags -->
  <!-- <title>Joseverdev portfolio</title>
  <meta name="title" content="joseverdev portfolio" />
  <meta name="description" content="Portfolio de desarrollador de joseverdev" /> -->




  <!-- facebook -->
  <!-- <meta property="og:title" content="Joseverdev Portfolio" />
  <meta property="og:type" content="article" />
	<meta property="og:image" content="https://joseverdev.netlify.app/web.png" />
  <meta property="og:url" content="https://joseverdev.netlify.app/" />
  <meta
    property="og:description"
    content="Portfolio de desarrollador de joseverdev"
  /> -->

	<!-- Twitter -->
	<!-- <meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Joseverdev Portfolio" />
	<meta name="twitter:description" content="Portfolio de desarrollador de joseverdev" />
	<meta name="twitter:image" content="https://joseverdev.netlify.app/web-tc.png" />
	<meta name="twitter:site" content="@joseverdev" />
<meta name="twitter:creator" content="@joseverdev" /> -->

</head>
