---
import { Code, Database } from "@lucide/astro";

const skills = [
  {
    icon: Code,
    title: "Frontend",
    tags: ["React", "Vue.js", "Astro", "TypeScript", "Tailwind CSS"],
    description: "Interfaces modernas y responsivas",
  },
  {
    icon: Database,
    title: "Backend",
    tags: ["Node.js", "Express.js", "MySql", "PostgreSQL", "MongoDB"],
    description: "APIs robustas y escalables con arquitecturas sólidas",
  },
];
---

<section id="skills" class="skills">
  <h2 class="title-2">SKILLS</h2>
  <div class="skills-container">
    {
      skills.map((skill) => {
        const Icon = skill.icon;
        return (
          <article class="skill">
            <Icon />
            <h3 class="skill__title">{skill.title}</h3>
            <p class="skill__description">{skill.description}</p>
            <p class="skill__tags">
              {skill.tags.map((tag: string) => {
                return <span class="skill__tag">{tag}</span>;
              })}
            </p>
          </article>
        );
      })
    }
  </div>
</section>

<style>
  .skills-container {
    display: flex;
    width: 320px;
    max-width: 1080px;
    margin: auto;
    flex-direction: column;
    gap: 32px;
    padding-bottom: 24px;
    color: var(--text-grey);
  }
  .skill__title {
    color: white;
  }
  .skill {
    text-align: left;
    border: 1px solid var(--border);
    padding: 2rem;
    background-color: #181818;
  }

  .skill__tag {
    display: inline-block;
    background-color: var(--border);
    padding: 4px 8px;
    margin-bottom: 8px;
    margin-right: 8px;
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  @media (min-width: 600px) {
    .skills-container {
      width: 500px;
    }
  }

  @media (min-width: 1080px) {
    .skills-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: inherit;
    }
    .skill {
      width: 32rem;
    }
  }
</style>
