---
import socialLinks from "../icons/SocialIcons";
---

<ul class="links">
  {
    socialLinks.map(({ name, url, icon, ariaLabel }) => (
      <li>
        <a
          href={url}
          target="_blank"
          rel="noopener noreferrer"
          aria-label={ariaLabel}
        >
          <img src={icon} alt={name} />
        </a>
      </li>
    ))
  }
</ul>

<style>
  img {
    width: 20px;
    vertical-align: middle;
  }
  .links {
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 300px;
    margin: auto;
  }
  .links a {
    cursor: pointer;
    padding: 0.5rem 0px;
  }
  .links svg {
    width: 28px;
    height: 28px;
    vertical-align: middle;
  }
  @media (min-width: 600px) {
  }
</style>
