---
import Footer from "@components/Footer.astro";
import HtmlLayout from "./HtmlLayout.astro";
---

<HtmlLayout>
  <div class="content-wrapper">
    <main>
      <slot />
    </main>
    <Footer pdBottom={false} />
  </div>
</HtmlLayout>

<style>
  main {
    max-width: initial;
  }
</style>
