---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
1;
import HtmlLayout from "./HtmlLayout.astro";

const { nav = true, customBackground = false, pdBottom = true } = Astro.props;
---

<HtmlLayout>
  <div class="content-wrapper">
    {nav && <Nav />}
    <main>
      <slot />
    </main>
    <Footer pdBottom={pdBottom} />
  </div>
</HtmlLayout>

<style>
  .content-wrapper {
    position: absolute;
    width: 100%;
  }
</style>

<script defer></script>
