---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
1;
import HtmlLayout from "./HtmlLayout.astro";
---

<HtmlLayout>
  <div class="content-wrapper">
    <Nav />
    <main>
      <slot />
    </main>
  </div>
</HtmlLayout>
